body {
  margin-bottom: 5em;
}

.chart {
  background: #efefef;
  width: 960px;
  height: 500px;
}

span.sugar {
  color: greenyellow;
  font-weight: bold;
}

span.gnome {
  color: steelblue;
  font-weight: bold;
}

.bar, .slice {
  fill: #aaa;
}

.bar.gnome, .slice.gnome {
  fill: steelblue;
}

.bar.sugar, .slice.sugar {
  fill: greenyellow;
}

.barText {
  font: 11px sans-serif;
  text-anchor: middle;
}

.donaText {
  font: 13px sans-serif;
  text-anchor: middle;
}

.donaPath {
    stroke: #efefef;
}

.sliceText {
  fill: #000;
  font: 13px sans-serif;
  text-anchor: middle;
}

.sliceText.big {
  fill: #333;
  font: 42px sans-serif;
  text-anchor: middle;
}
.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}
