<!DOCTYPE html>
<html>

<head>
<title>Monitor de Estadísticas - Plan Ceibal</title>
<link rel="shortcut icon" href="/static/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
{% block head %}
{% end %}
</head>

<body>
<div class="container">
{% block contenido %}
{% end %}
</div>
</body>

</html>
