{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/main.css">
{% end %}

{% block contenido %}
<div class="container">
<h1>Evaluación y monitoreo</h1>
<p>Uso de sesiones <a class="btn btn-default" href="/csv/sesiones_monitoreo.csv" download="sesiones_monitoreo.csv"><span class="glyphicon glyphicon-download"></span> Descargar</a></p>
<p>Uso de sesiones - Sugar y GNOME <a class="btn btn-default" href="/csv/sugar_gnome_monitoreo.csv" download="sugar_gnome_monitoreo.csv"><span class="glyphicon glyphicon-download"></span> Descargar</a></p>
<p>Uso de actividades - Sugar <a class="btn btn-default" href="/csv/activities_monitoreo.csv" download="activities_monitoreo.csv"><span class="glyphicon glyphicon-download"></span> Descargar</a></p>
<p>Uso de aplicaciones GNOME <a class="btn btn-default" href="/csv/applications_monitoreo.csv" download="applications_monitoreo.csv"><span class="glyphicon glyphicon-download"></span> Descargar</a></p>
</div>
{% end %}
