{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/main.css">
{% end %}

{% block contenido %}
<h2>Uso de los equipos, promedios por semana</h2>
<p>Cuánto tiempo se usa cada equipo, en promedio, por semana.</p>

<svg class="chart uso-semanal"></svg>

<h2>Ranking de actividades Sugar</h2>
<p>Las diez actividades Sugar más usadas, según promedio de horas semanales.</p>

<svg class="chart ranking-acts"></svg>

<h2>Ranking de aplicaciones GNOME</h2>
<p>Las diez aplicaciones GNOME más usadas, según promedio de horas semanales.</p>

<svg class="chart ranking-gnome"></svg>

<script src="/static/js/main.js"></script>
{% end %}
