{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/main.css">
{% end %}

{% block contenido %}
<div class="container">
<h2>Equipos de la muestra</h2>
<svg class="chart equipos-muestra"></svg>
<p><a class="btn btn-default" href="/csv/equipos_muestra.csv" download="equipos_muestra.csv">Exportar</a></p>
</div>

<div class="container">
<h2>Uso de los equipos, promedios por semana</h2>
<p>Cuánto tiempo se usa cada equipo, en promedio, por semana.</p>
<svg class="chart uso-semanal"></svg>
<p><a class="btn btn-default" href="/csv/tiempo_de_uso.csv" download="tiempo_de_uso.csv">Exportar</a></p>
</div>

<div class="container">
<h2>Uso de <span class="sugar">Sugar</span> y <span class="gnome">GNOME</span>, según duración de sesiones</h2>
<svg class="chart sugar-gnome-duracion"></svg>
<p><a class="btn btn-default" href="/csv/uso_sugar_gnome_duracion.csv" download="uso_sugar_gnome_duracion.csv">Exportar</a></p>
</div>

<div class="container">
<h2>Uso de <span class="sugar">Sugar</span> y <span class="gnome">GNOME</span>, según conteo de sesiones</h2>
<svg class="chart sugar-gnome-conteo"></svg>
<p><a class="btn btn-default" href="/csv/uso_sugar_gnome_conteo.csv" download="uso_sugar_gnome_conteo.csv">Exportar</a></p>
</div>

<div class="container">
<h2>Ranking de actividades <span class="sugar">Sugar</span></h2>
<p>Las diez actividades Sugar más usadas, según promedio de horas semanales.</p>
<form class="form-horizontal">
<div class="form-group">
<label class="control-label col-sm-2" for="grados-actividades">Grados: </label>
<div class="col-sm-2">
<select class="form-control" id="grados-actividades"></select>
</div>
</div>
</form>
<svg class="chart ranking-acts"></svg>
<p><a class="btn btn-default" href="/csv/ranking_actividades.csv" download="ranking_actividades.csv">Exportar</a></p>
</div>

<div class="container">
<h2>Ranking de aplicaciones <span class="gnome">GNOME</span></h2>
<p>Las diez aplicaciones GNOME más usadas, según promedio de horas semanales.</p>
<form class="form-horizontal">
<div class="form-group">
<label class="control-label col-sm-2" for="grados-aplicaciones">Grados: </label>
<div class="col-sm-2">
<select class="form-control" id="grados-aplicaciones"></select>
</div>
</div>
</form>
<svg class="chart ranking-apps"></svg>
<p><a class="btn btn-default" href="/csv/ranking_aplicaciones.csv" download="ranking_aplicaciones.csv">Exportar</a></p>
</div>

<script src="/static/js/main.js"></script>
{% end %}
