{% extends "base.html" %}

{% block contenido %}
<h2>Uso de los equipos, promedios por semana</h2>

<style>

.chart {
  background: #dfdfdf;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

</style>

<svg class="chart"></svg>

<script>

var width = 960;
var height = 500;
var margin = {top: 20, right: 30, bottom: 30, left: 40};

var format = d3.time.format("%H:%M hs");

var barY = d3.scale.linear()
    .range([height, 0]);

var barX = d3.scale.ordinal()
    .rangeRoundBands([0, width], 0.1);

var chart = d3.select(".chart")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


$.getJSON("/json/tiempo_de_uso", function (data) {
    barX.domain(data.map(function (d) { return d.year + d.week; }));
    barY.domain([0, d3.max(data, function(d) { return d.spent_time; })]);

    var bar = chart.selectAll("g")
        .data(data)
        .enter().append("g")
        .attr("transform", function (d, i) { return "translate(" + barX(d.year + d.week) + ", 0)"; });

    bar.append("rect")
        .attr("y", function (d) { return barY(d.spent_time) })
        .attr("width", barX.rangeBand())
        .attr("height", function (d) { return height - barY(d.spent_time) });

    bar.append("text")
        .attr("x", barX.rangeBand() / 2)
        .attr("y", function (d) { return barY(d.spent_time) + 3 })
        .attr("dy", ".75em")
        .text(function (d) { return format(new Date(0, 0, 0, 0, 0, d.spent_time)) });
});

</script>
{% end %}
